{% extends "bootstrap/base.html" %}

{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flaskdb | Index</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/flaskdb.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ easymde.css }}
  {{ easymde.js }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">シェアメモ</a>
    </div>
    <div class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav">
        {% if not "username" in session %}
        <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
        {% else %}
        <li><a href="{{ url_for('app.index') }}">個人メモ</a></li>
        <li><a href="{{ url_for('share.share_index') }}">公開メモ</a></li>
        <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header view_main">
    <h1>追加</h1>
    <div class="btn-group" role="group">
      <div class="view_btn">
        <a class="btn btn-default" href="{{ url_for('app.index') }}">ホーム</a> 
        <a class="btn btn-default" href="{{ url_for('app.index') }}"
        onclick="return confirm('削除します。よろしいですか？')">削除</a>
      </div> 
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if form %}
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <div class="edit_main">
    <!-- Markdown Content -->
    <div class = "markdown_content">
        {% if data %}
            {{ data|markdown }}
        {% endif %}
    </div>
    
    <!-- Markdown Editor -->
    <div class="markdown_editor">
      <form action="{{ url_for('memo.uploads_file') }}" method = post enctype = multipart/form-data class="image_form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type=file name = file>
        <input type = submit value = 登録 onclick="return confirm('テキストのsaveはしましたか？')">
      </form>
      {% if img|length != 0 %}
        <p>{{ img }}</p>
      {% endif %}
      <form action="{{ url_for('memo.memo_add') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if errortext %}
          <p>ファイル名が重複しています。<br>まだ保存されていません。</p>
        {% endif %}
        <div>
          <label for="content">ファイル名</label>
          <input type="text" name="title" value="{{ file }}" required>
          <textarea type="text" name="data" id="data">{% if data %}{{ data }}{% endif %}</textarea>
          {{ easymde.load_id("data") }}
        </div>
        <button type="submit">保存</button>
      </form>
    </div>
    
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
<script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
<script src="/static/js/flaskdb.js"></script>
{% endblock %}
