{% extends "bootstrap/base.html" %}

{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flaskdb | Index</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/flaskdb.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ easymde.css }}
  {{ easymde.js }}
{% endblock %}

{% block navbar %}
<div  class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">シェアメモ</a>
    </div>
    <div class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav">
        {% if not "username" in session %}
        <li><a href="{{ url_for('auth.login') }}">ログイン</a></li>
        {% else %}
        <li><a href="{{ url_for('app.index') }}">個人メモ</a></li>
        <li><a href="{{ url_for('share.share_index') }}">公開メモ</a></li>
        <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header index_main navbar-fixed-top header_pd" >
    <h1>公開メモ</h1>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if form %}
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endfor %}
  {% endif %}
  {% if "username" in session %}
    <ul class="list-group list-group-flush fix">
      <p>こんにちは, {{ session["username"] }}!</p>
      {% for mdfile in mdfiles %}
      <div class="list-group">
        <form action="/memo" method="GET" class="list-group-item share_btm">
          <div class="share_main">
              <h4 class="list-group-item-heading">{{ mdfile.file_name }}</h4>
              <p>{{ mdfile.updated_at }}</p>
          </div>
          <div class="share_main">
            <p>{{ mdfile.user_name }}</p>
            <div class="text-right">
              {% if mdfile.user_name == session["username"] %}
              <div class="btn-group" role="group">
                <section name="sel">
                  <a class="btn btn-default" href="{{ url_for('memo.memo_view', file=mdfile.file_name) }}">表示</a>
                  <a class="btn btn-default" href="{{ url_for('memo.memo_edit', file=mdfile.file_name) }}">編集</a>
                  <a class="btn btn-default" href="{{ url_for('share.share_stop', file=mdfile.file_name) }}"
                    onclick="return confirm('公開をやめます。よろしいですか？')" >停止</a>                    
                </section>
              </div>
              <!-- </div> -->
              {% else %}
              <div class="btn-group" role="group">
                <section name="sel">
                  <a class="btn btn-default" href="{{ url_for('share.share_view', file=mdfile.file_name, username=mdfile.user_name) }}">表示</a>                 
                </section>
              </div>
              {% endif %}
            </div>
          </div>   
         </form>
      </div>
      {% else %}
      投稿がありません
      {% endfor %}
    </ul>
  {% endif %}


</div>
{% endblock %}

{% block scripts %}
<script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
<script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
<script src="/static/js/flaskdb.js"></script>
{% endblock %}
